@media screen and (min-width: 1000px) {

  .cotainer{
    width: 90%;
    max-width: 1500px;
  }

  h1{
    letter-spacing: 100px;
  }

  nav{
    .nav-links{
      height: 110px;
      top: 0;
      ul{
        margin-top: 10px;
        height: 110px;
        width: 80%;
        flex-direction: row;
        justify-content: space-evenly;

        li{
          a, button{
            font-size: 1rem;
          }
        }
      }
    }
  }

  .header{
    .header-container{
    max-width: 1440px;
    height:80vh;
    margin: 0 auto;
    margin-top: 70px;
    }
  }

  .about{
    margin-bottom: 280px;
     .about-grid{
       display: block;
     }

    .about-grid-desktop{
      display: grid;
      max-width: 1440px;
      grid-template-columns: 20% 40% 30%;
      grid-template-areas: 'img head head'
                          'img paragraph skills';
      margin: 0 auto;
    }
    h2{
      grid-area: head;
      margin-bottom: 0;
    }
    img{
      grid-area: img;
      height: 550px;
      object-fit: cover;
    }
    h3{
      text-align: left;
    }

    .about-paragraph, .skills-column{
      position: relative;
      bottom: 70px;

    }

    .about-paragraph{
      grid-area: paragraph;

    .skills-column{
      grid-area: skills;
    }
  }

  ul{
    grid-template-columns: 50% 50%;
    position: relative;
    left: -40px;
  }
}

  .services{
    .services-grid{

      width: 100%;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-areas: 
      "description sevices"
      "action action";
      max-width: 1300px;
      margin: 0 auto;
      margin-bottom: 280px;
      row-gap: 0;
      column-gap: 140px;

      p{
        margin-bottom: 35px;
        margin-top: 0;
      }

      ul{
        display: grid;
        grid-template-columns: 50% 50%;
      }
      .action{
        .big-paragraph{
          margin-top: 70px;
        }
      }
    }
  }

  .portfolio{
    margin-bottom: 280px;
    .portfolio-grid{
      grid-template-columns: 33% 33% 33%;
      .img-hover-zoom {
        a{
          img{
            height: 400px;
            object-fit: cover;
          }
        }
      }
    }
  }
  .portfolio-popup{
    .container{
      width: 90%;
      .flex{
        display: flex;
        align-items: center;

        img{
          height: 850px;
          max-width: 60%;
        }

        .evolve{
          height: auto;
        }

        .content{
          margin-left: 70px;
          ul{
            grid-template-columns: 50% 50%;
          }
          .btn{
            margin: 0;
          }
        }
      }
  }
}
.contact{
  .contact-flex{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-bottom: 70px;
  }
}
}