$darkBackground: #0e0e0e;
$offWhite: #f2f2f2;
$gradient: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(45deg, #0B486B,#F56217, #E94057);

// general
html{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body{
  background: $darkBackground;
  color: $offWhite;
  font-family:'Montserrat', sans-serif;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

.container{
  width: 90%;
  margin: 0 auto;
}


h1{
  --bg-size: 400%;
  font-family: 'eckmannpsych-large', sans-serif;
  font-size: 6rem;
  -webkit-transform:scale(1,2.5); /* Safari and Chrome */
  -moz-transform:scale(1,2.5); /* Firefox */
  -ms-transform:scale(1,2.5); /* IE 9 */
  -o-transform:scale(1,2.5); /* Opera */
  transform:scale(1,2.5); /* W3C */
  letter-spacing: 7px;
  position: relative;
  bottom: 20px;
  background: linear-gradient(90deg, #F56217, #E94057,#0B486B, #F56217) 0 0 / var(--bg-size) 100%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: move-bg 20s infinite linear;
  margin: 0;
}

@keyframes move-bg {
  to {
    background-position: var(--bg-size) 0;
  }
}

p{
  font-size: 1rem;
  margin-top: 0;
  margin-bottom: 35px;
  line-height: 1.7rem;
  opacity: 0;
}

h2, h3{
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
}

h2{
  font-size: 4rem;
  margin-top: 0;
  margin-bottom: 70px;
}

h3{
  margin-top: 0;
  margin-bottom: 35px;
  font-size: 2rem;
}

a{
  text-decoration: none;
  color: $offWhite;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 200;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 200;
  padding: 15px;
  color: $offWhite;
  background: #0e0e0e;
  border: none;
  --borderWidth: 2px;
  position: relative;
  cursor: pointer;
  transition: background 0.5s ease-in-out;

  &:hover{
    background: transparent;
  }
}
.btn:after {
  content: '';
  position: absolute;
  top: calc(-1 * var(--borderWidth));
  left: calc(-1 * var(--borderWidth));
  height: calc(100% + var(--borderWidth) * 2);
  width: calc(100% + var(--borderWidth) * 2);
  background: linear-gradient(60deg,  #0B486B,#F56217, #E94057);
  z-index: -1;
  animation: animatedgradient 3s ease alternate infinite;
  background-size: 300% 300%;
}


@keyframes animatedgradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

//nav

nav{
  .menu-button{
    position: absolute;
    right: 35px;
    top: 40px;
    position: fixed;
    z-index: 3;

    button{
      width: 60px;
      height: 60px;
      padding: 0;
      background-image: none;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 0;
      border: none;
      transition: all .5s ease-in-out;
  
      .burger-line{
          width: 60px;
          height: 3px;
          background: $offWhite;
          transition: all .5s ease-in-out;
          box-shadow: $darkBackground 2px 5px 6px;

          &::before,
          &::after {
              content: '';
              position: absolute;
              width: 60px;
              height: 3px;
              background: $offWhite;
              transition: all .5s ease-in-out;
              left: 0px;
              box-shadow: $darkBackground 2px 5px 6px;
            }
  
          &::before{
              transform: translateY(-25px);
          }
  
          &::after{
              transform: translateY(25px);
          }
      }
    }
    .open{
      .burger-line{
          transform: translateX(-50px);
          background: transparent;
          box-shadow: none;
  
          &::before{
             transform: rotate(45deg) translate(35px, -35px); 
             box-shadow: none;
          }
  
          &::after{
              transform: rotate(-45deg) translate(35px, 35px); 
              box-shadow: none;
          }
      }
  }
  }
  p{
    display: none;
  }
  .nav-links{
    //display: none;
    height: 100vh;
    width: 100vw;
    background:$darkBackground;
    position: fixed;
    bottom: 0px;
    right: -100%;
    z-index: 2;
    margin-top: 0;

    ul{
      display: flex;
      height: 100vh;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      padding: 0;
      li{
        list-style-type: none;
        display: inline-block;

        a{
        padding-bottom:2px; /*the space for the gradient*/
        background: linear-gradient($offWhite,$offWhite) center bottom; /*OR bottom right OR bottom left*/
        background-size: 0% 2px; /*width:0% height:2px*/
        background-repeat:no-repeat; /* Don't repeat !!*/
        transition: all 0.45s;
        text-transform: uppercase;

        &:hover{
          background-size: 100% 2px; /*width:100% height:2px*/
        }
      }
      .active{
        background-size: 100% 2px;
      }
    }
  }
}
}
//header

.header{
  height: 100vh;

  .header-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  p{
    font-size: 1.5rem;
    line-height: 3rem;
    margin: 0;
    opacity: 1;
  }

  .btn{
    width: 250px;
    display: block;
    margin: 0 auto;
  }

  .hide-in-mobile{
    display: none;
  }
}
}

.about{
  img{
    display: block;
    width: 100%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 70px;
  }
  ul{
    list-style-image: url('images/arrow.svg');
    display: grid;
    grid-template-columns: 50% 50%;
    line-height: 2.5rem;
    margin-bottom: 140px;
    opacity: 0;
  }

  .fat-text{
    font-weight: 600;
  }
}

.services{
  margin-bottom: 140px;

  .big-paragraph{
    font-size: 2rem;
    line-height: 3.2rem;
    width: 90%;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: 70px;
  }
  button{
    display: block;
    margin: 0 auto;
  }
}

.portfolio{
  margin-bottom: 140px;

  .portfolio-grid{
    opacity: 0;

    .portfolio-container{
      overflow: hidden; /* [1.2] Hide the overflowing of child elements */

        .img-hover-zoom {
          height: 300px;
          width: 100%;
          opacity: 0.7;
          cursor: pointer;
          img{
            width: 100%;
            transition: all 1s ease;
            object-fit: cover;
          }
          a{
            opacity: 0;
            text-transform: uppercase;
            transition: all 1s ease;
          }
          &:hover{
            height: 300px;
            a{
              opacity: 1;
            }
            
            img{
              opacity: 0.2;
              filter: blur(5px);
              transform: scale(1.5);
            }
          }
        }
      }
    }
  }
  .portfolio-popup{
    // height: 100vh;
    //position: absolute;
    // width: 100%;
    // position: fixed;
    // left: 0;
    // top:0;
    background: $darkBackground;
    // z-index: 3;
    // overflow: scroll;

    a{
      font-size: 1rem;
      text-transform: uppercase;
      position: relative;
      top: 20px;
      left: 20px;
    }

    .container{
      // display: flex;
      // justify-content: row;
      // align-items: center;
      overflow: scroll;
      margin: auto auto;

      h2{
        font-size: 2rem;
        margin-bottom: 0;
        margin-top: 50px;
        margin-bottom: 35px;
      }
      img{
        width: 100%;
        height: 310px;
        object-fit: cover;
        margin-bottom: 35px;
      }
      p{
        opacity: 1;
      }
      ul{
        display: none;
        list-style-image: url('images/arrow.svg');
        display: grid;
        grid-template-columns: 50% 50%;
        line-height: 2.5rem;
        margin: 0 auto;
        margin-bottom: 35px;
      }
      .btn{
        display: block;
        margin: 0 auto;
        margin-bottom: 35px;
      }

    }
  }

.contact{
  text-align: center;

  h3{
    margin-bottom: 35px;
  }

  a{
    display: block;
    margin-bottom: 70px;
    font-size: 1rem;
    opacity: 0;

    i{
      font-size: 5rem;
      background: -webkit-linear-gradient(45deg, #0B486B,#F56217, #E94057);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

footer{
  background: #242121;
  width: 100%;
  margin: 0;
  height: 140px;
  display: flex;
  align-items: center;
  justify-content: center;

  p{
    opacity: 1;
    margin-bottom: 0;
  }
}


