@media screen and (min-width: 1000px) {

  .cotainer{
    width: 90%;
  }

  .header{
    margin-top: 70px;
    width: 800px;
  }

  .about{

     .about-grid{
       display: block;
     }

    .about-grid-desktop{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: 'img head head'
                          'img paragraph skills';
    }
    h2{
      grid-area: head;
    }
    img{
      grid-area: img;
    }

    .about-paragraph{
      grid-area: paragraph;

    .skills-column{
      grid-area: skills;
    }
  }

  ul{
    grid-template-columns: 50% 50%;
  }
}
}