@media screen and (min-width: 1000px) {

  .cotainer{
    width: 90%;
    max-width: 1500px;
  }

  h1{
    letter-spacing: 100px;
  }

  nav{
    .nav-links{
      height: 110px;
      top: 0;
      ul{
        margin-top: 10px;
        height: 110px;
        width: 80%;
        flex-direction: row;
        justify-content: space-evenly;

        li{
          a, button{
            font-size: 1rem;
          }
        }
      }
    }
  }

  .header{
    .header-container{
    height:80vh;
    margin-top: 70px;
    }
  }

  .about{
    margin-bottom: 280px;
     .about-grid{
       display: block;
     }

    .about-grid-desktop{
      display: grid;
      grid-template-areas: 'img head head'
                          'img paragraph skills';
    }
    h2{
      grid-area: head;
      margin-bottom: 0;
    }
    img{
      grid-area: img;
      height: 550px;
      object-fit: cover;
    }

    .about-paragraph, .skills-column{
      position: relative;
      bottom: 70px;

    }

    .about-paragraph{
      grid-area: paragraph;

    .skills-column{
      grid-area: skills;
    }
  }

  ul{
    grid-template-columns: 50% 50%;
  }
}

  .services{
    width: 90%;
    grid-gap: 210px;
    grid-template-columns: 40% 40%;
    margin: 0 auto;
    margin-bottom: 280px;
  }

  .portfolio{
    margin-bottom: 280px;
    .portfolio-grid{
      grid-template-columns: 33% 33% 33%;
      .img-hover-zoom {
        img{
          height: 400px;
          object-fit: cover;
        }
      }
    }
  }
}