@media screen and (min-width: 1000px) {

  .cotainer{
    width: 90%;
  }

  .header{
    margin-top: 70px;
    width: 800px;
  }

  .about{

    .about-grid-desktop{
      display: grid;
      grid-template-areas: 'img paragraph skills';
    }

    img{
      grid-area: img;
    }

    .about-paragraph{
      grid-area: paragraph;

    .skills-column{
      grid-area: skills;
    }
  }

  ul{
    grid-template-columns: 50% 50%;
  }
}
}